{% extends 'am.html' %}

{% block title %}
    A review about climate change controversy
{% endblock %}

{% block content %}

    <script>
        window.onload = function () {
            $('#cl_review').addClass('active');
        }
    </script>

    <style>
        p {
            text-indent: 2em;
            padding: 1% 1%;
        }

        p.tail {
            color: red;
            font-size: larger;
            font-weight: bolder;
            padding: 0 0 10% 0;
        }
    </style>

    <h3>关于全球气候变化争议的综述</h3>
    <p>
        在我国政府2009年公布了节能减排的承诺之后，国内公众对全球气候变化问题的关注有明显的提高。
        哥本哈根气候大会前后西方媒体报道的"气候门事件"也使很多人对"全球气候变化"的相关研究成果与争议产生了兴趣，希望有个概括的了解。 
    </p>
    <p>
        二十多年来，人们对全球气候变暖及其相关问题的关注与讨论一直在进行，然而持续到21世纪最初几年，
        国际上（以<a href='https://www.ipcc.ch/'>联合国政府间气候变化专门委员会</a>的四次报告作为国际上最具权威的对全球气候变化及相关问题的评断）
        仍然以较为肯定的口吻来定位全球气候变化及其相关问题：全球气候变暖显著，气温升高程度已经超过了气温自然波动，
        变暖主要原因是由工业革命以来人类活动消耗大量化石燃料排放过多CO2等温度气体所导致（依据温室效应理论），
        变暖将引起地球自然系统圈层变化，对人类及其他生物造成危害，减缓变暖及降低灾害的最有效措施是实行《京都议定书》中的相关气候政策。
    </p>
    <p>
        然而近几年，随着研究的深入，学界出现越来越多截然相反于"主流"观点（如上述的以联合国政府间气候变化专门委员会四次报告内容为主旨的观点）的看法，
        从而引发了对于全球气候变暖的大争论，使全球气候变暖及其相关问题的不确定增强。其中，<a href='http://climatechangereconsidered.org/'>非政府间国际气候变化专门委员会</a>于2009年发布
        对气候变化科学和联合国政府间气候变化专门委员会报告质疑的《气候变化的再思考》和2009年11月"气候门"事件的发生，
        推动此次大争论进入前所未有的高潮阶段。在哥本哈根气候峰会，墨西哥坎昆气候峰会、南非德班气候峰会连年展开之际，
        我们有必要结合近年来各个领域各个方面的不同看法和观点，来对全球气候变化及其相关问题的争议进行一次较为全面的综述。
    </p>
    <p>
        从近年来发表的大量文献来看，虽然目前学术界全球气候变暖的趋势有较为一致的看法，但对于全球气候变暖的程度、原因、气候模型的预估
        以及对人类产生的影响等方面上仍存有较大的争议。文章试图对一些较具代表性和影响力的争议焦点问题进行系统的综述，
        使人们能够更全面的了解目前学界对全球气候变化及相关问题的不同看法和认识，
        以及学界在全球气候变化及相关问题的研究与探讨中所取得的进展和成果。
    </p>
    <p>
        目前关于气候变化领域的争议主要包括以下五个方面：（1）全球气候变暖的趋势及程度争议；（2）全球气候变暖的成因争议；
        （3）气候模型预估结果的争议；（4）气候变化对人类造成影响的争议；（5）可行性应对政策的争议
    </p>
    <h4>一：全球气候变暖的趋势及程度争议</h4>
    <p>
        全球气候变暖趋势的确定性与变暖程度的争议。全球最具代表性建立气温序列的四个研究工作单位
        （CRU，NCDC，GISS，Met Office Hadley Centre）所恢复的近150年全球地表平均温度序列，
        均有一致指向<b>全球平均气温在暖—冷—暖波动中呈现上升趋势</b>。由此，全球气候变暖趋势可以得到确定。
        然而，全球平均气温的上升程度却由于各工作小组恢复气温序列采用的技术、方法不同而呈现偏高或偏低的不确定性。
        同时，一方面，温度计的测量数据受到城市热岛效应、温度计局限分布的影响而被普遍高估；
        另一方面，专家们在选取温度观测数据时，一定程度的受到政治需要、经济考虑及不可避免的人为偏见的影响，
        可能造成一部分的升温程度被高估。
    </p>
    <h4>二：全球气候变暖的成因争议</h4>
    <p>
        第二方面：全球气候变暖成因的争议。相对于其他方面的不确定性和争议，全球气候变暖成因的不确定性是最大的，
        其引起的争论也是最激烈的。其争议焦点主要集中在：
        一直以来CO2等温室气体浓度升高导致全球变暖（温室效应理论）所显示的两者变化相关性VS
        近年来南极东方冰芯数据恢复显示的CO2浓度滞后于气温变化，从而引发对于CO2浓度变化与温度变化因果关系不确定性的争议。 
    </p>
    <h4>三：气候模型预估结果的争议</h4>
    <p>
        由于我们在选择可行性应对策略的时候，主要是依据全球气候变暖对未来将以怎样的方式和多大的程度造成影响，
        因而依赖于对未来气候系统状况进行模拟的气候模型预估。气候模型建立在复杂的耦合、非线性动态气候系统上，
        构建基础是一套描述地球系统特征的物理定律和数学方程组。气候模型不同于天气预报所提供的及时性、准确性大气情况，
        主要提供长期性、趋势性的气候预估。IPCC对于未来气候的估计以及制定政策的基础主要来自气候模型的预估。
        然而，气候模型在理论和实际操作上都存有很多困难，导致了气候模型预估的不确定性，引起一些观点对于气候模型在多大程度上准确模拟了气候状况的质疑。
        尤为引人注意的，全球知名的气候预测专家A Kesten C. Green和J. Scott Armstrong于2007年以"确定哪些是最重要的预测，
        这些预测是如何完成的"为目的的调查，其结果反映：IPCC的专家们对气候预测主要是依据IPCC评估报告本身，
        并且两位专家对IPCC气候预测数据可靠性提出的质疑，尚未见到有力的解释和回应。而对于2℃阈值的提出，更缺乏牢固的基础，
        目前国内外尚未就此达成广泛的共识。
    </p>
    <h4>四：气候变化对人类造成影响的争议</h4>
    <p>
        理论上全球气候变暖可以引起海平面上升、冰川消融，从统计数据上看近百年来海平面上升、冰川消融的事实没有太多疑问，
        但是海平面上升、冰川消融都在人类活动显著之前就已经开始，那么其原因究竟是自然气候波动还是全球气候变暖，不确定性很大。
        而且，虽然Al Gore强调了全球气候变暖与极端天气的联系，但是原理上IPCC并没有把极端天气的发生与全球气候变暖紧密联系在一起。
        进一步的，目前显示美国暴烈级的龙卷风频率、我国平均逐年春季沙尘暴发生日数距平均有明显下降，
        同时，西北太平洋和南海生成热带风暴和台风个数变化平缓或微有下降。总体上，由于人类活动对全球气候变暖作用存在不确定性，
        全球气候变暖对自然气候圈层变化及极端天气事件的影响也存在不确定性，因此在分析人类活动对自然气候圈层变化及极端天气的影响时，
        不确定性就变得更大。
    </p>
    <h4>五：可行性应对政策的争议</h4>
    <p>
        选择可行性政策的争议。基于IPCC的研究结果及气候模型的预估，
        《京都议定书》针对全球气候变暖的应对策略主要提出了三种气候政策——排放贸易，联合履行，清洁发展机制，
        并认为这种政策可以大量削减碳排放水平并取得显著效果。但一些知名经济学家通过严谨的分析和统计认为：
        一来各国无法通过气候政策实现《京都议定书》的减排目标，其执行成本太高；二来，即使各国采用气候政策达到规定的减排，
        但对气候系统没有本质上的改善。因而，建议采取以适当代价减少碳排放而兼顾经济高速发展的经济政策。
        因而体现出可行性政策的选取上存有很大不确定性。虽然如此，节能减排仍是我们可以确定的方向，我们有必要也有义务进行节能减排。
    </p>

    <p>
        综上所述，目前对于全球气候变暖及其相关问题的不确定性还很大，存有很多有待解决的争议，
        对于全球气候变暖及其相关问题的未来发展趋势，
        "限于目前人类的科学研究水平，短期内上述争议都是不能解决的。10年、20年我们都不可能完全把气候变暖研究的很透彻，因为气候变迁是长尺度的问题，
        是永远研究不透彻的，当认识到一个问题，又出现新的问题。 然而争议的存在，导致我们在进步，来缩小不确定性。
    </p>

    <p class="tail">
        从文本中自动分析出各个作者对于气候变化问题的立场是很有帮助的，本项目以气候变化和自然语言处理领域为交叉点，致力于帮助气候变化领域的人们减轻文献阅读的压力，也致力于为论辩挖掘领域在科学文献上的应用做一些微薄的贡献。
    </p>

{% endblock %}
